<div class="social-media">
<i class="icon-ok-sign" style="color:green"></i>
<i class="icon-ok-sign" style="color:green"></i>

<i class="icon-ok-sign" style="color:green"></i>

<i class="icon-ok-sign" style="color:green"></i>

<i class="icon-ok-sign" style="color:green"></i>

<i class="icon-ok-sign"></i>
</div>
